.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.hero-image {
  width: 600px;      
  height: 400px;    
  object-fit: cover;
  display: block;
  border-radius: 6px;
}

.title {
  margin: 0;   
  font-size: 32px;
  color: #111;
  text-align: center;
}
.btn {
  padding: 10px 16px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 2px;
}
